@tailwind base;
@tailwind components;
@tailwind utilities;


img {
   max-height: 100%;
}

input, textarea, select {
    @apply border-2 border-gray-300 rounded-md px-1 w-full;
    @apply mb-2;
}

input:focus, textarea:focus, select:focus{
    @apply border-highlight;
}


h1 {
    @apply text-[#363161] mb-2 text-xl;
}

label {
    @apply text-[#363161] mb-1;
}

.btn-primary {
    @apply bg-[#d35064] text-[#f0a938] px-4 py-1 rounded-md; 
}

table.basic {
    @apply w-full
}

table.basic thead tr td {
    @apply bg-[#fffcef]
}

table.basic tr td {
    @apply border border-[#f8f2d8] p-1 text-[#363161];
}


table.basic a {
    @apply bg-highlight text-primary text-sm rounded-md py-1 px-2 inline-flex gap-1 mr-1;
}

.btn-default, .btn-red {
    @apply px-4 py-1 rounded-md
}

.btn-red {
    @apply bg-red-800 text-white
}

.btn-default {
    @apply bg-highlight text-primary
}

.my-actions { margin: 0 2em; }
.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }

.right-gap {
  margin-right: auto;
}